body, h1, h2, h3, p, botton, ul, li {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body{
  color: white;
  font-family: "JetBrains Mono", sans-serif;
}
.secao-destaque, .secao-calendario {
  background-color: #00005f;
}
.secao-conteudo, #rodaper{
  background-color: #00002a;
}
.texto-pricipal{
  font-size: 22px;
  font-weight: 800;
}
.titulo-pricipal{
  font-size: 70px;
  font-weight: 900;
  padding: 32px 0;
}
.paragrafo-padrao{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
}
.texto-superior{
  font-size: 15px;
}
.titulo-segundario{
  font-size: 43px;
  padding: 32px 0;
}
.texto-terciario {
  font-size: 31px;
}
.paragrafo-menor{
  font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
svg {
  fill: white;
}
.secao-calendario, .secao-conteudo, .secao-destaque {
  padding: 80px;
}
#rodape{
  padding: 32px 0;
  background-color: #00005f;
  text-align: center;
}
.botao-xamada{
  padding: 25px 50px;
  background-color: rgb(23, 223, 23);
  color: black;
  font-family: "JetBrains Mono", sans-serif;
  font-weight:  650;
  font-size: 18px;
  cursor: pointer;
}
.lista-cartoes {
  list-style: none;
  display: flex;
  padding-bottom: 32px;
  gap: 15px;

}
.lista-canal {
  list-style: none;
}
.modal [open]{
  background-color: #191c1f;
  color: white;
  border: 2px solid royalblue;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cabecalho-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.botao-fechar{
  background-color: #343a40;
  color: #adb5bd;
  padding: 8px 12px;
  cursor: pointer;
}
.input{
  padding: 14px 20px;
  border: 1px solid gray;
  background-color: #191c1f;
  font-family: 'JetBrains Mono', sans-serif;
  color: white;
}

.botao-incricao{
  font-family: 'JetBrains Mono', sans-serif;
  padding: 10px 30px;
  background: rgb(7, 237, 7);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.cartao {
  border: 1px solid gray;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1068px){
  .lista-cartoes {
    flex-direction: column;
  }
}
